@model   VIS.Models.HomeModels

@functions
{
    public string GetStatus(int count)
    {
        var d = "";
        if (count == 0)
        {
            d = "style=display:none ";
        }
        return d;
    }

    public string GetLocalDate(DateTime date_, string lng)
    {
        var d = "";
        if (date_ != null)
        {
            lng = lng.Replace("_", "-");
            try
            {
                d = date_.ToLocalTime().ToString("F", new System.Globalization.CultureInfo(lng));
            }
            catch
            {
                d = date_.ToLocalTime().ToString("F");
            }
        }
        return d;
    }        
}

<div class="container-fluid" id="dataContainer">
    <div class="row scrollerHorizontal">
        <div id="prod_trns" class="prod_trns_cont">
            <div class="trns_action_cont">
                <div class="trns_select_cont">
                    <div class="form-group">
                        <label class="field-3">Product</label>
                        <label class="field-3">Amount</label>
                        <label class="field-3">Unit</label>
                        <label class="field-3">From</label>
                        <label class="field-3">To</label>
                    </div>
                    <div class="form-group">
                        <select class="form-control field-3" id="product_list"></select>
                        <input class="form-control field-3" type="text" id="product_amount" />
                        <select class="form-control field-3" id="unit_list"></select>
                        <select class="form-control field-3" id="from_storage_list"></select>
                        <select class="form-control field-3" id="to_storage_list"></select>
                    </div>
                </div>
                <div class="trns_btn_cont">
                    <button id="add_trn" class="btn btn-primary add_btn" onclick="AddNewTransaction()">Add</button>
                </div>
            </div>
            <div class="transactions_cont">
                <h5>Products Transactions</h5>
                <div id="transactions_list" class="transactions_list_cont">
                    
                </div>
            </div>
        </div>
        <!-- Workflow Activity Screen START(Will Open when user clcik on add item Or Edit item) -->
        <div id="workflowActivity">
            <div class="vis-workflowActivityContainer">
                <div class="vis-workflowActivityTitleBar">
                    <h3 id="hWelcomeScreenSwapHdr"></h3>
                    <div class="vis-workflowActivityTitleBar-buttons">
                        <a href="javascript:void(0)" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.lang, "Close")" class="vis vis-mark vis-icon-menuclose" id="btnWFAClose"></a>
                    </div>
                </div>
                <div id="workflowActivityData">
                    <div class="scrollerVertical">
                        <div class="vis-workflowActivityDetails" id="workflowActivityDetails">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Workflow Activity Screen END -->
        <!-- Product Cards Start -->
        <div id="products-screen" class="prod-cards-cont">
            <h2>
                <a href="javascript:void(0)"><span><i class="fa fa-product-hunt" aria-hidden="true"></i></span>roducts<strong></strong></a>
            </h2>
            <div id="products_wrap" class="products">

            </div>
        </div>
        <!-- Product Cards END -->
    </div>
</div>
<div class="vis-apanel-busy" id="divfeedbsy" style="width: 98%; height: 98%; text-align: center; position: relative; visibility: hidden; z-index: 6;"></div>
<script type="text/x-kendo-template" id="backgroundColor-template">
       <select id='templateTool' style='width:90px'><option value=''>none</option><option value='\#ff9'>yellow</option><option value='\#dfd'>green</option> <option value='\#2424E0'>Blue</option> <option value='\#E04324'>Red</option></select>
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetJSONProducts")",
            data: {},
            datatype: "json",
            success: function (result) {
                obj = JSON.parse(result)
                let products = obj.listProducts;
                if (products.length > 0) {
                    products.forEach(product => $("#products_wrap").append('<div id="' + product.ProductID + '" class="prod-cont"><div class="prod-image-cont"><img src="' + product.ProductImage + '" alt="' + product.ProductName + ' product image" /></div><div class="product-details"><p id="' + product.StorageID + '">' + product.StorageName + '</p><p>' + product.ProductName + '</p><p class="d-inline">' + product.ProductAmount + '</p> <span>' + product.Unit + '</span></div></div>'));
                }
                else {
                    document.getElementById("products_wrap").innerHTML = "No Record Found"
                }
            },
            error: function () {
                console.log("Failed")
            }
        });
        /* Products Transactions */
        $.ajax({
            url: VIS.Application.contextUrl + 'Home/GetProductsTrns',
            data: { },
            type: 'GET',
            datatype: 'json',
            success: function (result) {
                data = JSON.parse(result.data)
                let productTrns = data.listProductsTrns;
                if (productTrns.length > 0) {
                    productTrns.forEach(productTrn => $("#transactions_list").append('<div id="' + productTrn.ASI03_ProductTransaction_ID + '" class="transaction_record"><div class="product_details"><p class="d-inline text-center">' + productTrn.ASI03_ProductAmount + ' ' + productTrn.Unit + '</p> &nbsp; <p class="d-inline text-center">' + productTrn.ProductName + '</p></div><div class="storage_details"><p class="from_storage_text d-inline text-center">' + productTrn.FromStorageName + '</p>&#8594;<p class="to_storage_text d-inline text-center">' + productTrn.ToStorageName + '</p></div></div>'));
                }
            },
            error: function () {
                console.log('Faild')
            }
        });
        /* Products Transactions End */
        /* Select Lists */
        $.ajax({
            url: VIS.Application.contextUrl + 'Home/GetSelectLists',
            data: {},
            type: 'GET',
            datatype: 'json',
            success: function (result) {
                data = JSON.parse(result.data)
                let productsList = data.ProductsLists;
                let unitsList = data.UnitsLists;
                let storageList = data.FromStorageLists;
                if (productsList.length > 0) {
                    $("#product_list").append('<option value="' + -1 + '">' + "Select Product" + '</option>');
                    productsList.forEach(product => $("#product_list").append('<option value="' + product.ASI03_Products_ID + '">' + product.ProductName + '</option>'));
                }
                if (unitsList.length > 0) {
                    $("#unit_list").append('<option value="' + -1 + '">' + "Select Unit" + '</option>');
                    unitsList.forEach(unit => $("#unit_list").append('<option value="' + unit.C_UOM_ID + '">' + unit.Unit + '</option>'));
                }
                if (storageList.length > 0) {
                    $("#from_storage_list").append('<option value="' + -1 + '">' + "Select Unit" + '</option>');
                    $("#to_storage_list").append('<option value="' + -1 + '">' + "Select Unit" + '</option>');
                    storageList.forEach(storage => $("#from_storage_list").append('<option value="' + storage.ASI03_Warehouse_ID + '">' + storage.FromStorageName + '</option>'));
                    storageList.forEach(storage => $("#to_storage_list").append('<option value="' + storage.ASI03_Warehouse_ID + '">' + storage.FromStorageName + '</option>'));
                }

            },
            error: function () {
                console.log('Faild')
            }
        });
        /* Select Lists End */

        /* Add Action */
        $("#add_trn").click(function () {
                var data = {
                    prodId: $('#product_list').val(),
                    amount: $('#product_amount').val(),
                    fromStorage: $('#from_storage_list').val(),
                    toStorage: $('#to_storage_list').val(),
                    unitId: $('#unit_list').val()
                };
                $.ajax({
                    type: 'POST',
                    url: VIS.Application.contextUrl + 'Home/AddTrns',
                    dataType: 'html',
                    data: data,
                    success: function (result) {
                        document.location.reload()
                    },
                    error: function (ex) {

                        alert('Faild');
                    }

                });
            });
        /* Add Action End */
    });
</script>